{% extends 'base.html.twig' %}

{% block title %}
    Listado de proveedores
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo ID</th>
                <th>Activo</th>
                <th>Fecha y hora de creación</th>
                <th>Ultima Actualización</th>
                <th>Editar</th>

            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo_electronico }}</td>
                    <td>{{ proveedor.telefono_contacto }}</td>
                    <td>{{ proveedor.tipo_nombre }}</td>
                    <td>{{ proveedor.activo ? '✅' : '❌' }}</td>
                    <td>{{ proveedor.fecha_creacion}}</td>
                    <td>{{ proveedor.fecha_actualizacion}}</td>
                    <td>
                        <a href="{{ path('modificar_proveedor', {'id': proveedor.proveedor_id}) }}">
                            <img src="{{asset('img/editar.png')}}" alt="editar">
                        </a>
                    </td>
                    <td>
                        <form action="{{ path('eliminar_proveedor', {'id': proveedor.proveedor_id}) }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este proveedor?');">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
